*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

html,
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  height: 100%;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 970px;
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  background: url(/img/Main.png) no-repeat;
  background-size: cover;
  min-height: 700px;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
.header .container .header__logo {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}
.header .container .header__logo:hover {
  cursor: pointer;
  color: #00D6B4;
}
.header .container .header__menu .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.header .container .header__menu .header__item .header__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #999999;
}
.header .container .header__menu .header__item .header__link_green {
  color: #00D6B4;
}

.about {
  margin: 220px 0px;
}
.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .container .about__text {
  max-width: 465px;
  height: 106px;
}
.about .container .about__text .about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
}
.about .container .about__text .about__title h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  text-align: center;
  color: #FFFFFF;
}
.about .container .about__text .about__title .about__button {
  padding: 10px 25px;
  border: 1px solid #00D6B4;
  border-radius: 3px;
}
.about .container .about__text .about__title a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #00D6B4;
}

.works {
  background: #222222;
}
.works .container .works__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 225px 15px 225px 15px 225px;
  grid-template-rows: repeat(3, 225px);
  -ms-grid-columns: 300px 15px 300px 15px 300px;
  grid-template-columns: repeat(3, 300px);
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
}
.works .container .works__content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.works .container .works__content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.works .container .works__content > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.works .container .works__content > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.works .container .works__content > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.works .container .works__content > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.works .container .works__content > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.works .container .works__content > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.works .container .works__content > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.works .container .works__title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;
}

.fotter {
  background: #222222;
}
.fotter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 122px;
  row-gap: 10px;
}
.fotter .container .footer__overtext {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 115px;
  text-align: center;
  text-transform: uppercase;
  color: #C2C2C2;
}
.fotter .container .footer__undertext {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #999999;
  margin-bottom: 35px;
}